{% extends 'masters.html' %}
<h1 style="color: red;">THIS IS MY CUSTOM PASSWORD RESET PAGE</h1>

{% block body %}
<section id="form" style="margin-left: 30%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form">
                    <h2>Reset Your Password</h2>
                    <p>Enter your email address and we’ll send you a link to reset your password.</p>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-default" type="submit">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
